<section id="about">
    <h1 class="text-center">About Us</h1>
         <div class="common_section">
            <div class="web">
                   <div>
                       <img src="images/about.svg">
                   </div>
                   <div>
                       <h1 class="common_heading">we will help you to grow business</h1>
                       <h2 class="common_heading">we are best team of developers</h2>
                       <button class="btn-danger">READ MORE</button>
                   </div>        
             </div>
          </div>
          </section>