 <section id="home">
    <div class="common_section">
        <div class="web">
                   <div>
                       <h1 class="common_heading">we will help you to grow business</h1>
                       <h2 class="common_heading">i made website for online business</h2>
                       <button class="btn-danger">READ MORE</button>
                   </div>
               
                   <div>
                       <img src="images/growth.png">
                   </div>
        </div>
    </div>
    </section>